FEE_PAYER_PRIVATE_KEY=0x...
REALM=mpp.dev
RPC_URL=https://user:pass@rpc.moderato.tempo.xyz
STRIPE_NETWORK_ID=internal
STRIPE_SECRET_KEY=sk_test_...
VITE_DEFAULT_CURRENCY=0x20c0000000000000000000000000000000000000
VITE_DEFAULT_RECIPIENT=0xa726a1CD723409074DF9108A2187cfA19899aCF8
VITE_DEMO_LIVE=true
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_AHREFS_VERIFICATION=ahrefs-site-verification_...
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_...
BRANDDEV_LOGOLINK_KEY=brandLL_...
